{block content}
  {control upload}

  <table>
    <tr n:foreach="$upload as $foto">
      <td><a href="{$basePath}/upload/{$foto->id}.{$foto->extension}" target="_blank">{$foto->alt|truncate:30}</a></td>
      <td>
        {if $user->isAllowed("upload", "smazat")}
            <a n:href="smazat! $foto->id" class="confirm" >smazat</a>
        {/if}
      </td>
    </tr>
  </table>
{/block}
