{block full}
  <h1>{$group->name}</h1>
  {foreach $feeds as $feed}
  	<iframe src="https://www.facebook.com/plugins/likebox.php?href={$feed->url}&amp;width=320&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23000000&amp;stream=true&amp;header=false&amp;height=395" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:320px; height:395px;" allowTransparency="true"></iframe>
  {/foreach}
{/block}
