{block content}
<h1>Kontakt</h1>
<h2>Šéfredaktor</h2>
<p>Jakub Dušánek, <a href="mailto:jakub.dusanek@pirati.cz">jakub.dusanek@pirati.cz</a>, +770 138 763</p>
<h2>Redakce</h2>
<a href="mailto:listy&#64pirati.cz">listy&#64pirati.cz</a>
<p>
Pirátské listy, internetové noviny České pirátské strany, www.piratskelisty.cz
</p>
<p>Copyleft Pirátská strana, všechna práva vyhlazena, sdílejte a nechte ostatní sdílet za stejných podmínek.</p>
{/block}
